@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dropshadow-opacity: 0;
    }

    body {
        @apply overflow-y-overlay;
    }
}

@layer components {
    .anchor-separator {
        @apply absolute left-1/2 -bottom-3.5 h-3.5 w-2 -translate-x-1/2 md:top-[7.5px] md:-right-5 md:left-auto md:bottom-auto md:translate-x-0;

        content: "";
        background: url(/assets/anchor-separator.png);
    }
}

@layer utilities {
    .overflow-y-overlay {
        overflow-y: overlay;
    }

    .dropshadow {
        @apply transition-[filter] duration-500;

        filter: drop-shadow(0px 0px 15px rgb(255 255 255 / var(--dropshadow-opacity)));
    }

    .dropshadow-opacity-50 {
        --dropshadow-opacity: 0.5;
    }

    .dropshadow-opacity-100 {
        --dropshadow-opacity: 1;
    }
}
